
div(id="IDC-"+orden.id  class="modal fade camera" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" value=orden.id pendiente=orden.ID_pendiente venta=orden.venta)
    div(class="modal-dialog")
        div(class="modal-content")
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round

                h4 Nuevas Imagenes
            div.modal-body


                div.clearboth
                form(action='/newPhoto' method='post' form-name="Equipo" enctype="multipart/form-data")
                    div.form-group.col-sm-7.col-xs-12
                        div(id="webcam")
                        div(ordenId=orden.id).ionCamera2.ion-camera#takeSnapshot
                        //button(type="button" class="btn btn-primary btn-large" id="takeSnapshot") tomar foto
                    div.form-group.col-sm-5.col-xs-12
                        //div(class="span4")
                            button(type="button" class="btn btn-primary btn-large" id="takeSnapshot" ) tomar foto
                        div(id="imagesN")


                    div.form-group
                        //textarea(type='text' name='comentario' placeholder='comentarios' autocomplete='off').form-control.comentarios
                    div.form-group.clearboth
                        div.alert.alert-danger.hide#resError(role="alert" )
                        div.alert.alert-danger.hide#estatusVenta(role="alert")
                    div.modal-footer.form-group
                        button(type="button" class="btn btn-default" data-dismiss="modal" class="") Cerrar
                        //button(type="button" class="btn btn-primary" type-send="ajax" form-target="newPhoto" data-remove="modal" class-re="camera" modal-re="event" val=orden.id) Guardar
