if (cliente.length > 0)
    ul.client
        for i in cliente
            li(clave=i.Cliente descripcion=i.Nombre  rfc=i.rfc calle=i.calle  colonia=i.colonia int=i.numerointerior ext=i.numeroexterior telefono=i.telefono correo=i.correo pobla=i.pobla).cliente
                div=i.Cliente
                div.descrip=i.Nombre