
div(id="ID-"+orden.id  class="modal fade eventos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true" value=orden.id pendiente=orden.ID_pendiente venta=orden.venta)
    div(class="modal-dialog")
        div(class="modal-content")
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round

                h4 Comentarios
            div.modal-body
                form(action='/OrdenRes' method='post' form-name="Rpendient")
                    div.form-group
                        input(style="display:none" name="idPendiente" value=orden.ID_pendiente type="text")
                        div.fechas(style="display:none")
                            input(id="startdate" name="startdate" type="date").col-xs-6.col-md-3.col-md-offset-6
                            input(id="exittime" name="exittime" type="time").col-xs-6.col-md-3
                            input(id="startdate1" name="startdate1" type="date").col-xs-6.col-md-3.col-md-offset-6
                            input(id="exittime1" name="exittime1" type="time").col-xs-6.col-md-3

                        div.clearboth
                            select(class='respuesta' name="respuesta" id=orden.id style="display:none").col-sm-6.col-xs-10
                                option(value='observacion') Reporte

                            button(type="button" class="btn btn-default" style="display:none;margin-top:10px!Important;").ion-calendar.padding-lrm.icono
                    div.form-group.clearboth
                        div#detalleRespues

                    div.form-group
                        textarea(type='text' name='comentario' placeholder='comentarios' autocomplete='off').form-control.comentarios
                    div.form-group.clearboth
                        div.alert.alert-danger.hide#resError(role="alert" )
                        div.alert.alert-danger.hide#estatusVenta(role="alert")
                    div.modal-footer.form-group
                        button(type="button" class="btn btn-default" data-dismiss="modal" class="") Cerrar
                        button(type="button" class="btn btn-primary" type-send="ajax" form-target="Rpendient" data-remove="modal" class-re="eventos" modal-re="event" val=orden.id) Guardar
