doctype html
html
    head
        title= title
        meta(name='viewport' content='initial-scale=1, user-scalable=no', width='device-width' )
        link(rel='stylesheet', href='/stylesheets/ioicon.css')
        link(rel='stylesheet', href='/stylesheets/new/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/new/polizas.css')
        //link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
        //link(rel='stylesheet', href='/stylesheets/perfil.css')
        //link(rel='stylesheet', href='/stylesheets/demo.css')
        //link(rel='stylesheet', href='/stylesheets/carousel.css')

    body

        nav.navbar.fixed-top.navbar-light(style="background-color:rgba(68,108,179,0.8)")
          a.navbar-brand(href='#' style="color:white;").col-xs-3
              img(src="/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="" style="margin-right:10px;")
              | GRUPO CF
        div.span.loader
                div.cloud

        div.card(style="margin-top:60px; margin-left:10px; margin-right:10px;")
          - var head = 'Equipo:  ' + equipo.CodigoBarras
          h5(class="card-header")=head
          div(class="card-block")
            h6(class="card-title")=equipo.Tipo
            - var serie = 'Serie: ' + equipo.numeroSerie
            p(class="card-text")=serie
            - var marca = 'Marca: ' + equipo.Marca + ',  Modelo: ' + equipo.Modelo
            p(class="card-text")=marca
            - var observ = 'Observaciones: ' + equipo.Observaciones
            p(class="card-text")=observ
            //a(href="#" class="btn btn-primary") Go somewhere
          div.card-block
            h5 Poliza
            - var cliente = 'Cliente: ' + poliza.nombre
            p(class="card-text")=cliente
            p(class="card-text")
              div(name='Inicio: ').fecha #{ poliza.FechaInicio}
            p(class="card-text" )
              div(name='Vencimiento: ').fecha #{ poliza.FechaVencimiento}

        div(id="Imagen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").no-print
            div(class="modal-dialog")
                div(class="modal-content")
                    //button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round
                        //h5 Imagenes
                    div.modal-body.slideImage(style="padding:15px!important")




        script(src='/javascripts/jquery-2.1.0.js' type="text/javascript")
        script(src='/javascripts/bootstrap.min.js' type="text/javascript")
        script(src='/javascripts/getUserMedia.js' type="text/javascript")
        script(src='/javascripts/poliza/polizas.js' type="text/javascript")
        script(src='/javascripts/demo.js' type="text/javascript")
