doctype html
html
    head
        title= title
        meta(name='viewport' content='initial-scale=1, user-scalable=no', width='device-width' )
        link(rel='stylesheet', href='/stylesheets/ioicon.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
        //-link(rel='stylesheet', href='/stylesheets/iconos.css', type="text/css", charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/bootstrap-table.css')
        link(rel='stylesheet', href='/stylesheets/datepicker3.css')
        link(rel='stylesheet', href='/stylesheets/widget.css')
        link(rel='stylesheet', href='/stylesheets/perfil.css')
        link(rel='stylesheet', href='/stylesheets/demo.css')
        //link(rel='stylesheet', href='/stylesheets/carousel.css')

    body


        nav(role="navigation").navbar.navbar-defaul.navbar-fixed-top.no-print
            div.container

                div.navbar-header
                    img(src="/images/logo.png").logo

                    span.nameEmp GRUPO CF
                    button(id="bartab" type="button" data-toggle="collapse"  data-target="#sidebar-collapse" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
                        span.sr-only Toggle navigation
                        span.ion-navicon-round

                    a(href="#").navbar-brand

                div(id="navbar" ).navbar-collapse.collapse
                    ul.nav.navbar-nav

                    ul.nav.navbar-nav.navbar-right
                        //li.dropdown
                            a.ion-android-settings(href="#drop" role="button" class="dropdown-toggle" data-toggle="dropdown")
                            ul.dropdown-menu(role="menu" aria-labelledby="drop")
                                li
                                    a(href="#Config") Configuracion
                                li
                                    a Opcion 2
                        li.dropdown.bienvenido
                            p.wellcome Bienvenido(a)
                                if (user)
                                    =user.Usuario
                        li.dropdown
                            a.ion-ios7-contact(href="#drop1" role="button" class="dropdown-toggle" data-toggle="dropdown")
                            ul.dropdown-menu(role="menu" aria-labelledby="drop1")
                                li
                                    a(href="/logout").ion-log-out Salir

        div#sidebar-collapse.col-sm-3.col-lg-2.sidebar.no-print
            //form(role="search")
                div(class="form-group")
                    //input(type="text" name="search" class="form-control" placeholder="Buscar")
            div.form-group(style="margin-top:40px;")
            ul.nav.menu
                li.active
                    a(href="/Inicio")
                        span.ion-home.icono-sidebar
                        | Inicio

                li.parent
                    a(href="#Servicio" data-toggle="tab" type-send="ajax-tab" tab-name="Servicio" data-source="/OrdenTable" tab-target="ServicioTab" id="Ordenes" )
                        span.ion-clipboard.icono-sidebar
                        | Servicio
                        span(data-toggle="collapse" href="#newOrden" class="ion-android-add pull-right" style="font-size:1.2em; padding:3px 5px 5px 5px;")
                            em
                    ul.children.collapse#newOrden
                        li
                            //a(data-toggle="modal" data-target="#Ordenes" ).OrdenNew
                            a(href="#" data-get="/nuevaOrden"  name="Ordenes" id-target="OrdenesN").modalNew  Nueva Orden
                        li
                            a(href="#" data-get="/nuevoServicio" name="Services" id-target="serviciosN").modalNew Nuevo Servicio
                        li
                            a(href="#Agenda" data-toggle="tab" type-send="ajax-tab" tab-name="Agenda" data-source="/Agenda" tab-target="AgendaTab" id="AgendaCal") Agenda
                        li
                            a(href="#Toners" data-toggle="tab" type-send="ajax-tab" tab-name="Toner" data-source="/TonerTable" tab-target="TonerTab" id="AgendaCal") Toners

                li.parent
                    a(href="#")
                        span.ion-gear-a.icono-sidebar
                        | Configuracion
                        span(data-toggle="collapse" href="#newUser" class="ion-android-add pull-right " style="font-size:1.2em; padding:3px 5px 5px 5px;")
                            em
                    ul.children.collapse#newUser
                        //if (user.admon === 1)
                            li
                                a(data-toggle="modal" data-target="#UserNew" )
                                    span Nuevo Usuario
                            li
                                a(href="#Users" data-toggle="tab" type-send="ajax-tab" tab-name="Usuarios" data-source="/usersTable" tab-target="UsuariosTab" id="usersTab") Usuarios
                            li
                                a(href="#UsersClient" data-toggle="tab" type-send="ajax-tab" tab-name="UClientes" data-source="/uclientsTable" tab-target="UclientsTab" id="uClientsTab") Clientes Contraseña
                //if (user.admon === 1)
                    li
                        a(href="#Sistemas" data-toggle="tab" type-send="ajax-tab" tab-name="Sistemas" data-source="/SistemasTable" tab-target="SsitemasTab")
                            span.ion-flask.icono-sidebar
                            | Sistemas
                li
                    a(href="#Clientes" data-toggle="tab" type-send="ajax-tab" tab-name="Clientes" data-source="/ClientesTable" tab-target="ClienteTab")
                        span.ion-ios7-people.icono-sidebar
                        | Clientes
                li
                    a(href="#Articulos" data-toggle="tab" type-send="ajax-tab" tab-name="Articulos" data-source="/ArticuloTable" tab-target="ProductoTab")
                        span.ion-disc.icono-sidebar
                        | Articulos
                li
                    //a(href="#area-basic2" data-toggle="tab" type-send="ajax-tab" tab-name="Ventas" data-source="/area-basic" tab-target="GrapsTab")
                        span.ion-stats-bars.icono-sidebar
                        | Graficas

                //li.parent
                    a(href="#")
                        span.ion-android-note.icono-sidebar
                        | Reportes
                        span(data-toggle="collapse" href="#sub-item-1" class="ion-android-add pull-right ")
                            em
                    ul.children.collapse#sub-item-1
                        li
                            a(href="#")
                                span Sub Item 1
                li
                    a(href="#")
                        span.ion-help-circled.icono-sidebar
                        span Ayuda
                li(role="presentation" class="divider")
                li
                    a(href="/login")
                        span.ion-log-out.icono-sidebar
                        | Cambiar de usuario



        div.ts.see.col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main.no-print
            ul(role="tablist").nav.nav-tabs.no-print
                li.active#inicio
                    a(href="#principal" data-toggle="tab") Inicio
                //li#ServicioT
                    a(href="#ServicioTable" data-toggle="tab") Servicios

        div.span.loader
                div.cloud
        div.tab-content.see.col-sm-9.col-sm-offset-3.col-lg-10.col-lg-offset-2.main

            div(id="principal" class="fade in active" ).tab-pane
                div.col-lg-12
                    h3.page-header Pendientes
                div.row
                    div.col-xs-12.col-md-4.col-lg-3
                        div.panel.panel-orange.panel.widget
                            div.row
                                div.col-xs-4.col-lg-4.widget-left.icon-hover
                                    em.ion-clipboard.icon-l
                                div.col-xs-8.col-lg-8.widget-right
                                    if ordenes
                                        - var n = 0
                                        - var s = 0
                                        for i in ordenes
                                            if ((i.estatus === 'Revision' || i.estatus === 'Recepcion')  && i.TipoEquipo != 'Servicio')
                                                - n = n + 1
                                            if ((i.estatus === 'Revision' || i.estatus === 'Recepcion') && i.TipoEquipo === 'Servicio')
                                                - s = s + 1
                                        div.large(style="font-size:1.2em;")
                                            strong=n
                                        div.text-muted Ordenes Nuevas
                                        div.large(style="font-size:1.2em;")
                                            strong=s
                                        div.text-muted Servicios Nuevos


                    div.col-xs-12.col-md-4.col-lg-3
                        div.panel.panel-blue.panel.widget
                            div.row
                                div.col-xs-4.col-lg-4.widget-left.icon-hover
                                    em.ion-wrench.icon-l
                                div.col-xs-8.col-lg-8.widget-right
                                    if ordenes
                                        - var n = 0;
                                        - var s = 0;
                                        for i in ordenes
                                            if ((i.estatus === 'Diagnostico' || i.estatus === 'Reparacion' || i.estatus === 'Asignado') && i.TipoEquipo != 'Servicio')
                                                - n = n + 1;
                                            if ((i.estatus === 'Diagnostico' || i.estatus === 'Reparacion' || i.estatus === 'Asignado') && i.TipoEquipo === 'Servicio')
                                                - s = s + 1;
                                        div.large(style="font-size:1.2em;")
                                            strong=n
                                        div.text-muted Ordenes en Proceso
                                        div.large(style="font-size:1.2em;")
                                            strong=s
                                        div.text-muted Servicios en Proceso


                    div.col-xs-12.col-md-4.col-lg-3
                        div.panel.panel-red.panel.widget
                            div.row
                                div.col-xs-4.col-lg-4.widget-left.icon-hover
                                    em.ion-medkit.icon-l
                                div.col-xs-8.col-lg-8.widget-right
                                    if ordenes
                                        - var n = 0;
                                        - var s = 0;
                                        for i in ordenes
                                            if (i.estatus === 'Terminado' && i.TipoEquipo != 'Servicio')
                                                - n = n + 1;
                                            
                                            if (i.estatus === 'Terminado' && i.TipoEquipo === 'Servicio')
                                                - s = s + 1;
                                        div.large(style="font-size:1.2em;")
                                            strong=n
                                        div.text-muted Equipos Terminados
                                        iv.large(style="font-size:1.2em;")
                                            strong=s
                                        div.text-muted Servicios Terminados

                    div.col-xs-12.col-md-4.col-lg-3
                        div.panel.panel-teal.panel.widget
                            div.row
                                div.col-xs-4.col-lg-4.widget-left.icon-hover
                                    em.ion-android-social-user.icon-l
                                div.col-xs-8.col-lg-8.widget-right(style="padding:20px;")
                                    if ordenes
                                        - var n = 0;
                                        for i in ordenes
                                            if (i.estatus === 'Entregado')
                                                - n = n + 1;
                                        div.large=n
                                        div.text-muted Equipos Entregados

                div.row
                    div.col-md-8.ParentPendiente
                        div.panel.panel-default.pendientesF
                            div.panel-heading.text-center
                                span
                                | Pendientes de hoy
                                //a(data-toggle="modal" data-target="#Ordenes" ).ion-android-more.pull-right.padding-m
                                //button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false").pull-right
                                    i.ion-android-more

                            div.panel-body
                                ul.todo-list
                                    if ordenes
                                        - var today = new Date().toDateString()
                                        for i in ordenes
                                            - var string = i.Fecha_ing + ' ' + i.UsuFecha_ing
                                            - var fecha = new Date(i.Fecha_ing.setHours(24)).toDateString()
                                            if ( fecha === today)
                                                li.todo-list-item.row
                                                div.pull-left.action-buttons.col-sm-2.col-xs-1
                                                    a(href="#" data-get="Orden" value=i.id  name=i.Serie+'-'+i.Orden).ion-edit.icono
                                                    if (i.TipoEquipo != 'Servicio')
                                                        a(href="#Imagen" role="button"  data-toggle="modal" name=i.Serie value=i.Orden ).ion-android-image.icono

                                                    a(href="#" data-get="/Seguimi" value=i.id class=i.estatus name=i.Serie+'-'+i.Orden).ion-flag.icono
                                                        //a(href="#" data-get="Orden" value=i.id class="flag" name=i.Serie+'-'+i.Orden).ion-flag.icono

                                                div.col-sm-2.col-xs-5=i.Serie+'-'+i.Orden
                                                div.col-sm-2.padding-m.col-xs-6=i.TipoEquipo
                                                div.col-sm-6.padding-m.col-xs-10.text=i.Pro_Observ

                    div.col-md-4
                        div.panel.panel-default
                            div.panel-heading.dark-overlay
                                span
                                | Calendario
                            div.panel-body
                                div#calendar
                    block content

        div(id="Imagen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").no-print
            div(class="modal-dialog")
                div(class="modal-content")
                    //button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round
                        //h5 Imagenes
                    div.modal-body.slideImage(style="padding:15px!important")



        div(id="UserNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").no-print
            div(class="modal-dialog")
                div(class="modal-content")
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round
                        h4 Usuario Nuevo
                    div.modal-body
                        form(action="/UserNew" method="post")
                            div.form-group.clearboth
                                input(type="text" name="username" placeholder="Usuario" autocomplete="off").user.col-sm-6.margin-tbm
                            div#user
                            div.form-group.clearboth
                                input(type="text" name="nombre" placeholder="Nombre" autocomplete="off").col-sm-6.margin-tbm
                            div.form-group.clearboth
                                input(type="password" name="password1" placeholder="contraseña" autocomplete="off").col-sm-6.margin-tbm
                            div.form-group.clearboth
                                input(type="password" name="password" placeholder="contraseña" autocomplete="off").col-sm-6.margin-tbm
                            div.form-group.clearboth
                                input(type="email" name="correo" placeholder="correo" ).col-sm-6.martin-tbm
                            div.form-group.clearboth(style="display:none")
                                input(type="email" name="correo2" placeholder="correo 2").col-sm-6.margin-tbm
                            div.form-group.clearboth(style="display:none")
                                input(type="tel" name="telefono" placeholder="telefono1").col-sm-6.margin-tbm
                            div.form-group.clearboth(style="display:none")
                                input(type="tel" name="telefono1" placeholder="telefono2").col-sm-6.margin-tbm
                            div.form-group.clearboth(style="display:none")
                                input(type="text" name="Direccion" placeholder="direccion").col-sm-6.margin-tbm
                                input(type="numer" name="CP" placeholder="codigo postal").col-sm-4.margin-tbm
                            div.form-group.clearboth
                                input(type="text" name="Equipos" placeholder="Serie Equipos").col-sm-3.margin-tbm
                                input(type="text" name="Servicios" placeholder="Serie servicios").col-sm-3.margin-tbm
                            div.form-group.clearboth
                                input(type="text" name="Vendedor" placeholder="Vendedor asociado").col-sm-5.margin-tbm
                            div.form-group.clearboth
                                input(type="text" name="Estacion" placeholder="Estacion de trabajo").col-sm-5-margin-tbm
                            div.form-group.clearboth
                                label.col-sm-6
                                    input(type="checkbox" name="admon" style="margin-right:8px; margin-top:0px").margin-right-s
                                    | Administrador
                                label.col-sm-6
                                    input(type="checkbox" name="cliente" style="margin-right:8px; margin-top:0px").margin-right-s
                                    | Cliente
                                label.col-sm-6
                                    input(type="checkbox" name="proveed" style="margin-right:8px; margin-top:0px").margin-right-s
                                    | Proveedor
                                label.col-sm-6
                                    input(type="checkbox" name="activo" style="margin-right:8px; margin-top:0px").margin-right-s
                                    | Activo

                            div.form-group.clearboth
                                textarea(type="text" name="observacion" placeholder="observaciones" autocomplete="off").form-control.comentarios


                            div.modal-footer.formgroup.clearboth
                                button(type="button" class="btn btn-default" data-dismiss="modal") Cerrar
                                button(type="submit" class="btn btn-primary") Guardar

        div.nuevaOrden


        script(src='/javascripts/jquery-2.1.0.js' type="text/javascript")
        //script(src='/javascripts/tooltip.js' type="text/javascript")
        script(src='/javascripts/bootstrap.min.js' type="text/javascript")
        script(src='/javascripts/bootstrap-table.js' type="text/javascript")
        script(src='/javascripts/bootstrap-datepicker.js' type="text/javascript")
        script(src='/javascripts/javascript.js' type="text/javascript")
        script(src='/javascripts/tab.js' type="text/javascript")
        script(src='/javascripts/transition.js' type="text/javascript")
        script(src='/javascripts/alert.js' type="text/javascript")
        script(src='/javascripts/popover.js' type="text/javascript")
        script(src='/javascripts/getUserMedia.js' type="text/javascript")
        script(src='/javascripts/demo.js' type="text/javascript")
        script(src='/javascripts/jquery.devrama.slider.js' type="text/javascript")
