div.panel.panel-default.pendientesF
    div.panel-heading.text-center
        //if ordenes
        //    - var today = new Date(ordenes[0].Fecha_ing)
        span Pendientes de Hoy


                               
    div.panel-body
        ul.todo-list
            if ordenes 
                
                for i in ordenes 
                    li.todo-list-item.row
                    div.pull-left.action-buttons.col-sm-2.col-xs-1
                        a(href="#" data-get="Orden" value=i.id  name=i.Serie+'-'+i.Orden).ion-edit.icono 
                        if (i.TipoEquipo != 'Servicio')
                            a(href="#Imagen" role="button"  data-toggle="modal" name=i.Serie value=i.Orden ).ion-android-image.icono
                        
                        a(href="#" data-get="/Seguimi" value=i.id class=i.Estatus name=i.Serie+'-'+i.Orden).ion-flag.icono  
                            //a(href="#" data-get="Orden" value=i.id class="flag" name=i.Serie+'-'+i.Orden).ion-flag.icono
                      
                    div.col-sm-2.col-xs-5=i.Serie+'-'+i.Orden
                    div.col-sm-2.padding-m.col-xs-6=i.TipoEquipo
                    div.col-sm-6.padding-m.col-xs-10.text=i.Pro_Observ
                                            
                                                            
                        
                        