div.reparacion
    //datalis
    //    select(name="prods")
    //input(type='search' name='empleado' placeholder='Empleado' autofocus required pattern="[0-9][A-Z]{3}" title="Nombre del empleado" list="tecnico").empleado
    input(type='text' name='prod' placeholder='Producto' autocomplete="off").prods
    button(type="button" class="btn btn-default").ion-ios7-cart.carrito
    div#products
div.adicional(style="padding-bottom:30px;")   
    input(type='text' name='Descripcion' placeholder='Descripcion' autocomplete="off" ).col-sm-8.descrip
    input(type='number' name='Cantidad' placeholder='1' autocomplete="off"  min="1" max="10000").col-sm-2.descrip
    input(type='text' name='Precio' placeholder='100.00' autocomplete="off" style="text-align:right" ).col-sm-2.price
div.vent
    div.venta
        div.encabe Refacciones    
        div.encabe Venta:
            if partidas != ""  
                =partidas[0].VENTA
        if partidas != ""  
            for i in partidas
                section.partida.col-xs-12
                    - var precio = (i.PRECIO * 1.16).toFixed(2)
                    div.col-xs-10

                        div
                            strong=i.OBSERV
                        div
                            strong='Cantidad: ' + i.CANTIDAD + '    ' + 'Precio: ' + precio
                        div
                            strong='Clave:  ' + i.ARTICULO
                           
                    div.col-xs-2
                        //div.ion-edit
                        div(data-set="partvta" value=i.ID_SALIDA articulo=i.ARTICULO  venta=partidas[0].VENTA url="/dePartida" type-send="delete" style="margin-top:10px; font-size:1.8em;").ion-android-trash
        if partidas != ""    
          
            div.total1.col-xs-2.col-xs-offset-6.col-sm-offset-8
                strong Total:
            - var total = (partidas[0].IMPORTE + partidas[0].IMPUESTO).toFixed(2)
            div.total1.col-xs-2.text-right
                strong=total

    div.col-xs-12.clearboth
        if partidas != "" 
            if (partidas[0].ESTADO === 'CO')
                div La venta ha sido confirmada
          
 