if (user.length > 0)
    ul.usuario
        for i in user
            li(value=i.Id usuario=i.Usuario  email=i.email admon=i.admon equipos=i.Equipos servicios=i.Servicios nombre=i.Nombre vend=i.Vend estacion=i.estacion ).user
                div.descrip=i.Usuario